body{
    font-size: 14px;
    background-image: url(background.jpg);
    color: black;
    align-items: center;
    justify-content: center;
    background-size: cover;
  background-position: center;
}

main{
    display: flex;
    gap: 10px;
    margin: 10% auto auto auto; 
    background-color: white;
    width: max-content;
    align-items: center;
    justify-content: center;
    height: max-content ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    font-family: "montserrat";
    
}


/* Left side styling */

.left{
    background-color: rgba(10, 159, 109, 0.9 );
    object-fit: cover;
    height: 50vh;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width:50%;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 15px;
    font-family: "montserrat";
    color:white;
}
.welcome h2{
    text-transform: uppercase;
    font-size: 30px;
    margin: 15vh 0 0 0;
    font-weight: 700;
}
.welcome p{
    margin: 10px 15px 20px 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}
.welcome button{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 50px;
    border-radius: 19px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px;
}   

/* Right side styling */
.right{
    object-fit: cover;
    height: 50vh;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 14px;
    color:rgba(128, 131, 130, 0.9);
    font-family: "montserrat";
}

h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color:rgba(10, 159, 109, 0.9 );
}

.socials{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 10px;
    height: 2px;
 
}

.socials div{
    border: 1px solid rgba(173, 174, 174, 0.9);
    padding: 0.1px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    
}

.facebook a,
.gmail a,
.linkedin a {
    text-decoration: none;
    color: rgb(52, 44, 44);
}

.right p{
    font-size: 12px;
    margin-bottom: 20px;
    color: rgba(128, 131, 130, 0.9);
    font-weight:400;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;;
}


input{
    padding: 10px;
    font-size: 12px;
    border:none;
    background-color: rgba(83, 151, 137, 0.1);
    font-weight: 500;
    color:rgba(83, 151, 137, 0.5);
    font-family: "montserrat";
}

.register{
    background-color: rgba(10, 159, 109, 0.9 );
    color: white;
    border: none;
    padding: 10px;
    border-radius: 19px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 30px;
    width: 60%;
    font-size: 14px;
}

/* tab screen */
@media (max-width: 992px) {
  main {
    width: 100%;
    margin: 10% auto;
    flex-direction: column;
    height:max-content;
  }
  .left, .right {
    width: 150%;
    border-radius: 0;
  }
  .welcome h2 {
    margin: 20px 0 10px 0;
    font-size: 1rem;
  }

  .left{
    padding: 20px;
    height: max-content;
  }
  .right{
    padding: 20px;
    height: max-content;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
  main{
    height: 100%;

  }
  h1 {
    font-size: 1.2rem;
  }
  .welcome h2 {
    font-size: 1.5rem;
  }
  .welcome p{
    width: 50%
  }
  .form {
    width: 60%;
    height: auto;
  }
  .socials div {
    width: 25px;
    height: 25px;
  }

  .register {
    width: 50%;
    font-size: 12px;
    margin: 20px;
  }
}